<div class="exercise">
    <div class="exercise-header">
        <input
            #exerciseNameInput
            [formControl]="exerciseName"
            (change)="updateExerciseName(exerciseNameInput.value)"
            (keydown.enter)="$event.target.blur()"
            class="form-control exercise-name"
            value="{{ exercise.name }}"
        />
        <div (click)="isCollapsed = !isCollapsed" class="collapse-area">
            <svg *ngIf="isCollapsed" viewBox="0 0 16 16" class="collapse-button">
                <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
            </svg>
            <svg *ngIf="!isCollapsed" viewBox="0 0 16 16" class="collapse-button">
                <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
            </svg>
        </div>
        <svg (click)="deleteExercise()" class="delete-exercise-button" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
        </svg>
    </div>
    <div
        [@exerciseDisplay]="isCollapsed ? 'closed' : 'open'"
        [@exerciseHeight]="isCollapsed ? 'closed' : 'open'"
        class="collapsed-area"
    >
        <textarea
            #exerciseDescriptionInput
            [formControl]="exerciseDescription"
            (change)="updateExerciseDescription(exerciseDescriptionInput.value)"
            (keydown.enter)="$event.target.blur()"
            class="exercise-description form-control"
            maxlength="500"
            placeholder="Add a description..."
            value="{{ exercise.description  }}"
        >
        </textarea>
        <app-exercise-set-result *ngFor="let setResult of setResults" [setResult]="setResult"></app-exercise-set-result>
        <div *ngIf="setResultsVisible == 0" class="no-entries-found">No entries found</div>
    </div>
</div>
<app-popper #popper></app-popper>
