<div>
    <h2>Workout Sessions</h2>
    <app-workout-session
        *ngFor="let workoutSession of workoutSessions"
        [workoutSession]="workoutSession"
        [exercises]="exercises"
        (workoutSessionDelete)="deleteWorkoutSession($event)"
    >
    </app-workout-session>
    <h4>Create new workout session</h4>
    <div class="d-flex flew-row">
        <input #workoutSessionDate class="form-control mr-2" type="date"/>
        <select #workoutPlanName class="form-control mr-2">
            <option disabled selected> -- Workout Plan -- </option>
            <option *ngFor="let workoutPlan of workoutPlans">
                {{ workoutPlan.name }}
            </option>
        </select>
        <button (click)="addWorkoutSession(workoutSessionDate.value, workoutPlanName.value)" class="btn btn-dark text-nowrap">
            Add workout
        </button>
    </div>
</div>
