<div>
    <h2>My Workout Sessions</h2>
    <app-workout-session
        *ngFor="let workoutSession of workoutSessions"
        [workoutSession]="workoutSession"
        (workoutSessionDelete)="deleteWorkoutSession($event)"
    >
    </app-workout-session>
    <h4>Add new workout session</h4>
    <input #workoutSessionDate type="date"/>
    <select #workoutPlanName>
        <option *ngFor="let workoutPlan of workoutPlans">
            {{ workoutPlan.name }}
        </option>
    </select>
    <button (click)="addWorkoutSession(workoutSessionDate.value, workoutPlanName.value)">
        Add workout
    </button>
</div>
