a {
    color: black;
}
a:hover {
    color: black;
    text-decoration: none;
}
body, html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
}
select {
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.background-light-red {
    background-color: #ffcccb;
}
.background-white {
    background-color: white;
}
.border-light-gray {
    border-color: #f0f0f0 !important;
}
.hidden {
    display: none !important;
}
.hover-background-light-gray:hover {
    background-color: #f0f0f0;
}
.hover-border-dark-gray:hover {
    border-color: #9e9e9e !important;
}
.hover-cursor-pointer:hover {
    cursor: pointer;
}
.hover-text-black:hover {
    color: black;
}
.hover-text-dark-gray:hover {
    color: #303030;
}
.hover-text-red:hover {
    color: red;
}
.position-front {
    z-index: 999 !important;
}
.text-black {
    color: black;
}
.text-light-gray {
    color: #9e9e9e;
}


