@import "checkbox.css";
@import "spinner.css";

a {
    color: black;
}
a:hover {
    color: black;
    text-decoration: none;
}
body, html {
    background-color: #17141d;
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;
}
input::-webkit-calendar-picker-indicator{
    filter: invert(1);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
}
input[type=number] {
    -moz-appearance: textfield;
}
select {
    appearance: none;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHBvbHlnb24gY2xhc3M9ImNscy0yIiBwb2ludHM9IjEuNDEgNC42NyAyLjQ4IDMuMTggMy41NCA0LjY3IDEuNDEgNC42NyIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIzLjU0IDUuMzMgMi40OCA2LjgyIDEuNDEgNS4zMyAzLjU0IDUuMzMiLz48L3N2Zz4=) no-repeat 95% 50%;
    height: 30px;
    padding: 5px;
    width: 100px;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.dash {
    color: #7a7a8c;
    text-align: center;
}
.exercise-select {
    border: solid 2px #283035;
    background-color: #283035;
    color: white;
}
.exercise-select:focus {
    background-color: #283035;
    box-shadow: none;
    border: solid 2px #3eadcf;
    color: white;
}
.hidden {
    display: none !important;
}
.number-input-three-digits {
    border: solid 2px #283035;
    background-color: #283035;
    color: white;
    max-width: 75px;
    min-width: 75px;
    text-align: center;
}
.number-input-three-digits:disabled {
    background-color: #17141d;
    color: transparent;
}
.number-input-three-digits:focus {
    background-color: #283035;
    box-shadow: none;
    border: solid 2px #3eadcf;
    color: white;
}
.number-input-two-digits {
    border: solid 2px #283035;
    background-color: #283035;
    color: white;
    max-width: 50px;
    min-width: 50px;
    text-align: center;
}
.number-input-two-digits:focus {
    background-color: #283035;
    box-shadow: none;
    border: solid 2px #3eadcf;
    color: white;
}
.number-input-two-digits:disabled {
    background-color: #17141d;
    color: transparent;
}
