<div id="page">
    <div id="slidingContainer">
        <div [@slide]="leftVisible ? 'right' : 'left'" id="slidingBox">
            <!--<div #bubble class="bubble"></div>-->
        </div>
        <div id="loginSide">
            <div class="header">Login</div>
            <input #loginUsernameInput class="form-control input" placeholder="User Name" />
            <input #loginPasswordInput class="form-control input" placeholder="Password" type="password" />
            <div class="buttons">
                <div (click)="logIn(loginUsernameInput.value, loginPasswordInput.value)" class="button">Login</div>
                <div (click)="toggleSlider()" class="button">Signup</div>
            </div>
        </div>
        <div id="signupSide">
            <div class="header">Signup</div>
            <input #signupUsernameInput class="form-control input" placeholder="User Name" />
            <input #signupPasswordInput class="form-control input" placeholder="Password" type="password" />
            <input #signupConfirmPasswordInput class="form-control input" placeholder="Confirm Password" type="password" />
            <div class="buttons">
                <div (click)="addUser(signupUsernameInput.value, signupPasswordInput.value, signupConfirmPasswordInput.value)" class="button">Signup</div>
                <div (click)="toggleSlider()" class="button">Login</div>
            </div>
        </div>
    </div>
</div>
<app-popper #popper></app-popper>


