.copy-set-result-button {
    height: 20px;
    fill: #283035;
    margin-right: 10px;
    width: 20px;
}
.copy-set-result-button:hover {
    cursor: pointer;
    fill: #3eadcf;
}
.dash {
    color: #7a7a8c;
    text-align: center;
}
.delete-set-result-button {
    height: 25px;
    fill: #283035;
    margin-right: 10px;
    width: 25px;
}
.delete-set-result-button:hover {
    cursor: pointer;
    fill: red;
}
.set-result {
    display: flex;
    flex-direction: row;
}
.set-result:hover .set-result-buttons {
    opacity: 1;
}
.set-result-buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    opacity: 0;
    transition: .3s;
}