<div>
    <h5>{{ workoutPlan.name }}</h5>
    <app-set-plan
        *ngFor="let setPlan of setPlans"
        [setPlan]="setPlan"
        (setPlanUpdateOrder)="updateSetPlanOrder($event.setPlanId, $event.order)"
        (setPlanDelete)="deleteSetPlan($event)"
    >
    </app-set-plan>
    <h5>Add set</h5>
    <span>Exercise: </span>
    <select #exerciseName>
        <option *ngFor="let exercise of exercises">
            {{ exercise.name }}
        </option>
    </select>
    <br />
    <span>Reps: </span>
    <input #reps/>
    <br />
    <span>Rest Time: </span>
    <input #restTime/>
    <br />
    <button (click)="addSetPlan(exerciseName.value, reps.value, restTime.value)">Add set</button>
    <br />
    <button (click)="deleteWorkoutPlan()">Delete workout plan</button>
</div>
