<div class="workout-plan">
    <div class="workout-plan-header">
        <input
            #workoutPlanName
            [formControl]="workoutPlanNameFormControl"
            (change)="updateWorkoutPlanName(workoutPlanName.value)"
            (keydown.enter)="$event.target.blur()"
            value="{{ workoutPlan.name }}"
            class="form-control workout-plan-name"
            maxlength="50"
        />
        <div
            [attr.aria-expanded]="!isCollapsed"
            (click)="isCollapsed = !isCollapsed"
            class="collapse-area"
        >
            <svg *ngIf="isCollapsed" viewBox="0 0 16 16" class="collapse-button">
                <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
            </svg>
            <svg *ngIf="!isCollapsed" viewBox="0 0 16 16" class="collapse-button">
                <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
            </svg>
        </div>
        <svg (click)="deleteWorkoutPlan()" class="delete-workout-plan-button" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
        </svg>
    </div>
    <div
        [@openClose]="isCollapsed ? 'closed' : 'open'"
        id="workoutPlan"
        class="workout-plan-body"
    >   
        <app-set-plan
            *ngFor="let setPlan of setPlans"
            [setPlan]="setPlan"
            [exercises]="exercises"
            [workoutPlanLength]="setPlans.length"
            (setPlanDuplicate)="duplicateSetPlan($event)"
            (setPlanUpdateOrder)="updateSetPlanOrder($event.setPlanId, $event.order)"
            (setPlanDelete)="deleteSetPlan($event)">
        </app-set-plan>
        <div class="new-set-plan-row">
            <div *ngIf="setPlans" class="new-set-plan-number set-number-column">
                {{ setPlans.length + 1 }}
            </div>
            <div class="exercise-column">
                <select #exerciseName [formControl]="newSetPlanExerciseName" class="form-control exercise-select">
                    <option value="null" disabled selected> -- Exercise -- </option>
                    <option *ngFor="let exercise of exercises">
                        {{ exercise.name }}
                    </option>
                </select>
            </div>
            <div class="target-reps-cell target-reps-column">
                <input
                    #repsTargetLow
                    (keydown.enter)="$event.target.blur()"
                    [formControl]="newSetPlanRepsTargetLow"
                    class="form-control rep-input"
                    type="number"
                />
                <span class="dash">-</span>
                <input
                    #repsTargetHigh
                    (keydown.enter)="$event.target.blur()"
                    [formControl]="newSetPlanRepsTargetHigh"
                    class="form-control rep-input"
                    type="number"
                />
                <label class="checkbox-container">
                    To Failure
                    <input #toFailure
                            (change)=toggleNewSetToFailure(toFailure.checked)
                            [formControl]="newSetPlanToFailure"
                            type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div class="rest-time-column">
                <input
                    #restTime
                    (keydown.enter)="$event.target.blur()"
                    [formControl]="newSetPlanRestTime"
                    class="form-control rest-time-input"
                    type="number"
                />
            </div>
            <div (click)="addSetPlan(exerciseName.value, repsTargetLow.value, repsTargetHigh.value, toFailure.checked, restTime.value)" class="new-set-plan-button">
                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-plus-circle hover-cursor-pointer hover-text-dark-gray text-light-gray" fill="currentColor">
                    <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
            </div>
        </div>
    </div>
</div>
<app-popper #popper></app-popper>
