.collapse-area {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;    
    height: 60px;
}
.collapse-area:hover {
    cursor: pointer;
}
.collapse-area:hover .collapse-button {
    cursor: pointer;
    fill: #3eadcf;
}
.collapse-button {
    height: 1rem;
    fill: #283035;
    width: 1rem;
}
.collapse-button:hover {
    cursor: pointer;
    fill: #3eadcf;
}
.dash {
    color: #7a7a8c;
    margin-right: 10px;
}
.delete-workout-plan-button {
    fill: #283035;
    height: 25px;
    margin-right: 10px;
    width: 25px;
}
.delete-workout-plan-button:hover {
    fill: red;
    cursor: pointer;
}
.exercise-select {
    border: solid 2px #283035;
    background-color: #283035;
    color: white;
    margin-right: 10px;
}
.exercise-select:focus {
    box-shadow: none;
    border: solid 2px #3eadcf;
}
.new-set-plan-button {
    align-self: stretch;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    margin-right: 12px;
}
.new-set-plan-button:hover svg {
    cursor: pointer;
    fill: #3eadcf;
}
.new-set-plan-button svg {
    height: 20px;
    fill: #283035;
    width: 20px;
}
.new-set-plan-number {
    align-self: stretch;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.new-set-plan-row {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.rep-input {
    border: solid 2px #283035;
    background-color: #283035;
    color: white;
    margin-right: 10px;
}
.rep-input:focus {
    box-shadow: none;
    border: solid 2px #3eadcf;
}
.rest-time-input {
    border: solid 2px #283035;
    background-color: #283035;
    color: white;
    margin-right: 10px;
}
.rest-time-input:focus {
    box-shadow: none;
    border: solid 2px #3eadcf;
}
.target-reps-cell {
    align-items: center;
    display: flex;
    flex-direction: row;
}
.to-failure {
    align-items: center;
    color: #7a7a8c;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}
.workout-plan {
    border-radius: 10px;
    box-shadow: -0.5rem 0.5rem 1rem #000;
    margin: 20px;
    padding-left: 10px;
    transition: .2s;
}
.workout-plan:hover {
    transform: translateX(.5rem);
}
.workout-plan-header {
    align-items: center;
    display: flex;
    flex-direction: row;
}
.workout-plan-name {
    border: solid 2px #283035;
    background-color: #283035;
    color: white;
    margin-right: 10px;
    max-width: 500px;
    min-width: 500px;
}
.workout-plan-name:focus {
    box-shadow: none;
    border: solid 2px #3eadcf;
}