<div>
    <h2>Workout Plans</h2>
    <app-workout-plan
        *ngFor="let workoutPlan of workoutPlans"
        [exercises]="exercises"
        [workoutPlan]="workoutPlan"
        (workoutPlanDelete)="deleteWorkoutPlan($event)"
    >
    </app-workout-plan>
    <h4>Create new workout plan</h4>
    <div class="d-flex flew-row">
        <input #workoutPlanName class="form-control mr-2" placeholder="Name" />
        <button (click)="addWorkoutPlan(workoutPlanName.value)" class="btn btn-dark text-nowrap">
            Add workout plan
        </button>
    </div>
</div>
