<div class="fixed-top">
    <app-navigation-bar currentPage="workout-plans"></app-navigation-bar>
    <div id="workoutPlanListHeader">
        <div class="set-number-column workout-plan-list-column-name">Set #</div>
        <div class="exercise-column workout-plan-list-column-name">Exercise Name</div>
        <div class="target-reps-column workout-plan-list-column-name">Target Reps</div>
        <div class="rest-time-column workout-plan-list-column-name">Rest Time (s)</div>
    </div>
</div>
<div *ngIf="exercises" id="workoutPlanList">
    <app-workout-plan
        *ngFor="let workoutPlan of workoutPlans"
        [exercises]="exercises"
        [workoutPlan]="workoutPlan"
        (workoutPlanDelete)="deleteWorkoutPlan($event)">
    </app-workout-plan>
    <div id="newWorkoutPlanRow">
        <input
            #workoutPlanName
            [formControl]="newWorkoutPlanName"
            (keydown.enter)="addWorkoutPlan(workoutPlanName.value)"
            id="newWorkoutPlanName"
            class="form-control"
            placeholder="New Workout Plan Name"
            maxlength="50"
        />
        <div (click)="addWorkoutPlan(workoutPlanName.value)" id="newWorkoutPlanButton">
            <svg viewBox="0 0 16 16" >
                <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg>
        </div>
    </div>
</div>
<app-popper #popper></app-popper>

