.column-cell {
    align-items: center;
    align-self: stretch;
    padding: 0px 20px;
    border-right: solid 2px #283035;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0px;
}
.exercise-cell {
    max-width: 340px;
    min-width: 340px;
    padding: 0px 20px;
}
.rest-time-cell {
    max-width: 170px;
    min-width: 170px;
}
.set-number-cell {
    max-width: 90px;
    min-width: 90px;
}
.target-reps-cell {
    max-width: 300px;
    min-width: 300px;
    padding: 0px 20px;
}
#newWorkoutPlanButton {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    height: 60px;
    justify-content: flex-end;
}
#newWorkoutPlanButton:hover {
    cursor: pointer;
}
#newWorkoutPlanButton:hover svg{
    fill: #3eadcf;
}
#newWorkoutPlanButton svg {
    fill: #283035;
    height: 20px;
    width: 20px;
}
#newWorkoutPlanName {
    border: solid 2px #283035;
    background-color: #283035;
    color: white;
    margin-right: 10px;
    max-width: 500px;
    min-width: 500px;
}
#newWorkoutPlanName:focus {
    box-shadow: none;
    border: solid 2px #3eadcf;
}
#newWorkoutPlanRow {
    align-items: center;
    border-radius: 10px;
    box-shadow: -0.5rem 0.5rem 1rem #000;
    display: flex;
    flex-direction: row;
    margin: 20px;
    padding: 0px 10px;
    transition: .2s;
}
#newWorkoutPlanRow:hover {
    transform: translateX(.5rem);
}
#workoutPlanList {
    padding: 104px 0px 10px 0px;
}
#workoutPlanListHeader {
    background-color: #17141d;
    border-bottom: solid 2px #283035;
    color: #7a7a8c;
    padding-left: 30px;
    display: flex;
    flex-direction: row;
}