.copy-set-plan-button {
    height: 20px;
    fill: #283035;
    margin-right: 10px;
    width: 20px;
}
.copy-set-plan-button:hover {
    cursor: pointer;
    fill: #3eadcf;
}
.delete-set-plan-button {
    height: 25px;
    fill: #283035;
    margin-right: 10px;
    width: 25px;
}
.delete-set-plan-button:hover {
    cursor: pointer;
    fill: red;
}
.set-number-input {
    border: solid 2px #283035;
    background-color: #283035;
    color: white;
    text-align: center;
}
.set-plan {
    display: flex;
    flex-direction: row;
}
.set-plan:hover .set-plan-buttons {
    opacity: 1;
}
.set-plan-buttons {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: flex-end;
    opacity: 0;
    transition: .3s;
}