<td>
    <input #setPlanOrder (change)="updateSetPlanOrder(setPlanOrder.value)" value="{{ setPlan.order }}" class="form-control" />
</td>
<td>
    <select #exerciseName (change)="updateSetPlanExerciseId(exerciseName.value)" class="form-control">
        <option *ngFor="let exercise of exercises"
                [selected]="exercise.id == currentExercise.id">
            {{ exercise.name }}
        </option>
    </select>
</td>
<td>
    <input #setPlanReps (change)="updateSetPlanReps(setPlanReps.value)" value="{{ setPlan.reps }}" class="form-control" />
</td>
<td>
    <input #setPlanRestTime (change)="updateSetPlanRestTime(setPlanRestTime.value)" value="{{ setPlan.restTime }}" class="form-control" />
</td>
<td>
    <button
        (click)="deleteSetPlan()"
        class="btn btn-dark text-nowrap"
    >
    Delete set
    </button>
</td>

