<div>
    <span>Exercise: </span>
    <select #exerciseName>
        <option
            *ngFor="let exercise of exercises"
            [selected]="exercise.id == currentExercise.id"
        >
            {{ exercise.name }}
        </option>
    </select>
    <button (click)="updateSetPlanExerciseId(exerciseName.value)">Update</button>
    <br />
    <span>Set: </span>
    <input #setPlanOrder value="{{ setPlan.order }}" />
    <button (click)="updateSetPlanOrder(setPlanOrder.value)">Update</button>
    <br />
    <span>Reps: </span>
    <input #setPlanReps value="{{ setPlan.reps }}" />
    <button (click)="updateSetPlanReps(setPlanReps.value)">Update</button>
    <br />
    <span>Rest Time: </span>
    <input #setPlanRestTime value="{{ setPlan.restTime }}" />
    <button (click)="updateSetPlanRestTime(setPlanRestTime.value)">Update</button>
    <br />
    <button (click)="deleteSetPlan()">Delete set</button>
</div>
