#signupButton {
    margin-right: 10px;
}
#signupContainer {
    border: solid 2px black;
    border-radius: 10px;
    padding: 40px;
    width: 300px;
}
#signupErrorMessage {
    border-radius: 10px;
    font-size: 12px;
    padding: 10px;
    margin-bottom: 10px;
}
#signupPage {
    height: 100%;
}
#signupPassword {
  margin-bottom: 20px;
}
#signupUsername {
    margin-bottom: 20px;
}