.arrow, .arrow::before {
    position: absolute;
    height: 8px;
    width: 8px;
    z-index: -1;
}
.arrow::before {
    background-color: #17141d;
    content: '';
    transform: rotate(45deg);
}
.popper {
    background-color: #17141d;
    border-radius: 5px;
    box-shadow: -0.5rem 0.5rem 1rem #000;
    color: #7a7a8c;
    opacity: 0;
    padding: 10px;
    position: absolute;
    transition: opacity .3s;
    z-index: 1;
}
.popper[data-popper-placement^='top'] > .arrow {
    bottom: -4px;
}
.popper[data-popper-placement^='right'] > .arrow {
  left: -4px;
}
.popper[data-popper-placement^='bottom'] > .arrow {
    top: -4px;
}
.popper[data-popper-placement^='left'] > .arrow {
    right: -4px;
}
.popper[data-show] {
    opacity: 1;
}
